* {
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  position: fixed;
  width: 100vw;
  height: calc(100vh - 20px);
  left: 0;
  top: 0;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  background: #0d0d0dbb;
  color: #ddd;
}

#titlebar {
  position: fixed;
  width: 100vw;
  height: 20px;
  bottom: 0;

  background: #1a1a1aaa;

  span {
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);

    font-size: 8px;
    font-weight: 600;
    color: #fffb;

    pointer-events: none;
  }

  menu {
    display: flex;
    height: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    pointer-events: auto;

    button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 28px;
      height: 100%;
      border: none;
      background: #1a1a1a;
      color: #ccc;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background: #333;
        color: #fff;
      }
    }
  }
}
