* {
  user-select: none;
  margin: 0;
  padding: 0;
}

main {
  position: fixed;
  width: 100vw;
  height: calc(100vh - 20px);
  left: 0;
  top: 0;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  background: #0d0d0dbb;
  color: #ddd;

  header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid #dddb;
    padding: 2px 4px;

    .weekday {
      font-size: 0.75rem;
      font-weight: 700;
      letter-spacing: 0.06em;
    }

    .datetime {
      font-size: 0.4rem;
      font-weight: 500;
    }
  }

  section {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .duty-today {
      /* flex: 1; */
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 28px;
      font-weight: 900;
      color: #f5c842;
      letter-spacing: 0.05em;
      white-space: nowrap;
    }

    .duty-next {
      text-align: center;
      font-size: 0.45rem;
      font-weight: 500;
      color: #aaa;
      padding-bottom: 3px;
      letter-spacing: 0.04em;
      line-height: 1.2;
    }
  }
}

#titlebar {
  position: fixed;
  width: 100vw;
  height: 20px;
  bottom: 0;

  background: #1a1a1aaa;

  span {
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);

    font-size: 8px;
    font-weight: 600;
    color: #fffb;

    pointer-events: none;
  }

  menu {
    display: flex;
    height: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    pointer-events: auto;

    button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 28px;
      height: 100%;
      border: none;
      background: #1a1a1a;
      color: #ccc;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background: #333;
        color: #fff;

        &.danger {
          background: #e81123;
        }
      }
    }
  }

}